<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeDetailed.name}}</h1>
  </div>
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage recipe<span class="caret"></span> </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="onAddToShoppingList()">To Shopping list</a> </li>
        <li><a style="cursor: pointer" routerLink="edit" routerLinkActive="active">Edit recipe</a> </li>
        <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete recipe</a> </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipeDetailed.description}}
  </div>
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingedient of recipeDetailed.ingredients">
        {{ingedient.name}} - {{ingedient.amount}}
      </li>
    </ul>
  </div>
  <div class="col-xs-12">
    <img [src]="recipeDetailed.imagePath" alt="" class="img-responsive" style="max-height: 300px">
  </div>
</div>
