<div class="row">
  <div class="col-xs-12 col-md-6">
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <app-alert [message]="error" *ngIf="error" (close)="onErrorHandling()"></app-alert>
    <form #form="ngForm" (ngSubmit)="onSubmitForm()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" ngModel required email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" ngModel required minlength="6">
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
          {{isLoginMode ? 'Login' : 'Signup'}}
        </button> |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Signup' : 'Login'}}</button>
      </div>
    </form>
  </div>
</div>
